<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<div id="base_up" th:fragment="base_up">
    <head>
        <title>TODO APP</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link th:href="@{/css/main.css}" rel="stylesheet"/>
    </head>

    <header id="header">
        <div class="inner">
            <a href="index_.html" class="logo"><strong>Projection</strong></a>
            <nav style="background: #4bae77" class="nav" id="nav">
                <a href="index_.html">Home</a>
                <a href="../../../../../templated-projection/generic.html">Generic</a>
                <a href="../../../../../templated-projection/elements.html">Elements</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Three -->
    <section id="three" class="box wrapper align-center">
</div>

</html>