<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<!--/*@thymesVar id="loginForm" type=""*/-->
<form th:action="@{/registration}" th:object="${registrationForm}" method='POST'>
    <p th:if="${invalidCredentials}" class="error">Passwords are not the same!</p>
    <label for="username">User:</label>
    <input type='text' id='username' name='username' value=''>
    <label for="password">Password</label><input type='password' id="password" name='password'/>
    <label for="password2">Rewrite your Password</label><input type='password' id="password2" name='password2'/>
    <label for="submit"><input name="submit" id="submit" type="submit" value="submit"/></label>

</form>
</body>
</html>