<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{fragments/base_up::base_up}"></div>


<h2 style="font-size:2vw;">Add New Project</h2>
<form th:action="@{/new_project}" th:object="${Project}" method="post">

    <label for="project_name">Project Name</label>
    <input type="text" id="project_name" name="project_name" autofocus="autofocus"/>
    <input type="submit" class="button" value="Save"/>

</form>
<div th:replace="~{fragments/base_down::base_down}"></div>
</html>